.portal-components {
  margin: 100px 20px;
  width: 100%;
}

.portal-page {
  display: flex;
  flex-direction: row;
}

@media (min-width: 1200px) {
  .portal-components {
    width: 75%;
    margin: 50px auto;
  }
}
