<div class="bg-dark p-4 rounded text-white mt-5">
  <h4 class="mb-4">Upcoming Sessions</h4>
  @if (upcomingSessions.length == 0) {
  <div class="card mb-3 opacity-0" style="min-height: 63px"></div>
  <div
    class="card mb-3 opacity-199 bg-transparent text-white text-center fs-3"
    style="min-height: 63px"
  >
    No sessions found
  </div>
  <div class="card mb-3 opacity-0" style="min-height: 63px"></div>
  } @else { @for (session of upcomingSessions; track $index) {
  <app-upcoming-session-card
    [session]="session"
    (viewSession)="viewSession($event)"
  ></app-upcoming-session-card>
  } @for (index of [1,2,3].slice(upcomingSessions.length); track $index) {
  <div class="card mb-3 shadow-sm opacity-25" style="min-height: 63px"></div>
  } }
</div>

<app-session-details
  #upcomingSessionDetailsModal
  [modalId]="'upcomingSessionDetailsModal'"
></app-session-details>
