<div
  class="min-vh-100 d-flex justify-content-center align-items-center bg-light px-3"
>
  <div class="w-100" style="max-width: 800px">
    <div class="bg-white shadow-sm rounded-4 p-4">
      <h3 class="text-center mb-4 fw-semibold text-primary">Teacher Signup</h3>

      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <!-- Name -->
        <div class="mb-3">
          <label class="form-label text-muted small">Full Name</label>
          <input
            type="text"
            class="form-control form-control-lg rounded-3"
            formControlName="name"
            placeholder="John Doe"
          />
          @if (name.invalid && name.touched) {
          <small class="text-danger">Enter a valid name</small>
          }
        </div>

        <!-- Email -->
        <div class="mb-3">
          <label class="form-label text-muted small">Email</label>
          <input
            type="email"
            class="form-control form-control-lg rounded-3"
            formControlName="email"
            placeholder="name@example.com"
          />
          @if (email.invalid && email.touched) {
          <small class="text-danger">Enter a valid email</small>
          }
        </div>

        <!-- Organization -->
        <div class="mb-3">
          <label class="form-label text-muted small">Organization</label>
          <input
            type="text"
            class="form-control form-control-lg rounded-3"
            formControlName="organization"
            placeholder="Your Institute"
          />
          @if (organization.invalid && organization.touched) {
          <small class="text-danger">Organization is required</small>
          }
        </div>

        <!-- Password -->
        <div class="mb-4">
          <label class="form-label text-muted small">Password</label>
          <input
            type="password"
            class="form-control form-control-lg rounded-3"
            formControlName="password"
            placeholder="********"
          />
          @if (password.invalid && password.touched) {
          <small class="text-danger">Must be at least 8 characters</small>
          }
        </div>

        <!-- Submit -->
        <button
          class="btn btn-primary w-100 rounded-pill py-2 fw-semibold"
          type="submit"
          [disabled]="signupForm.invalid"
        >
          Sign Up
        </button>
      </form>
    </div>
  </div>
</div>
